jupyter

matplotlib
numpy==1.22.3
pandas>=1.2.0
pytorch-lightning==1.6.1

# # HACK: It is necessary to avoid an error.
# #     caffe calls an old fashioned method using an argument name 'as_grey'.
# #     Without this, following issue is raised.
# #         https://github.com/scikit-image/scikit-image/issues/5008
# scikit-image==0.14.5

# --find-links https://download.pytorch.org/whl/cpu/torch_stable.html
--find-links https://download.pytorch.org/whl/cu113
torch==1.12.1
torchmetrics==0.8.0; python_version >= '3.6'
torchvision==0.13.0
tqdm==4.64.0
